<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mapper.BackDynamicMapper">
	<insert id="saveDynam" >
		insert into dynamic_info values (
		#{dynamicId},
		#{dynamicTitle},
		#{dynamicTime},
		#{dynamicContent},
		#{rid},
		#{rname},
		#{rcount}
		)
	</insert>
	<select id="findAll" resultMap="dyRM">
		select * from dynamic_info order by dynamic_time desc
	</select>
	<resultMap type="cn.tedu.pojo.Dynamic" id="dyRM" autoMapping="true">
		<id column="dynamic_id" property="dynamicId"/>		
	</resultMap>
	<delete id="deleteDynamById">
		delete from dynamic_info where dynamic_id = #{dynamId}
	</delete>
</mapper>